{% if page.full_title %}
    {% assign title = page.full_title %}
{% else %}
    {% assign title = 'Portfolio - ' | append: page.title  %}
{% endif %}
{% assign description = 'Portfolio' %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ title }}</title>
<base href="{{ site.baseurl }}">

<meta name="description" content="Portfolio">

<!-- Favicon -->
<link rel="icon" type="image/png" href="/assets/favicon-32x32.png">

<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style" content="#ca2b3e">

<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:site_name" content="Portfolio">
<meta property="og:locale" content="en_US">
